.item {
  display: flex;
  gap: 12px;
  width: 100%;
}

.title {
  font-size: 18px;
}

.author {
  font-size: 14px;
  color: dimgrey;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wrapper {
  width: 64px;
  height: 64px;
  background-color: aliceblue;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
