* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.5px;

  background: rgb(219, 220, 220);
}

.container {
  min-height: 100vh;
}
